<form class="form-horizontal">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="account" class="col-lg-2 control-label">Account</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="account" placeholder="Account" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="button" id="loginBtn" class="btn btn-primary">Login</button>
        <a href="#register">Register</a>
      </div>
    </div>
  </fieldset>
</form>
